body {
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 20%;
    display: flex;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.dias, .horas, .minutos, .segundos {
    font-size: 50px;
    margin-bottom: 0;
}