@import url('https://fonts.googleapis.com/css2?family=Alata&family=Noto+Sans+JP:wght@400;500;700&display=swap');
:root {
    --color-background: #f4f4f4;
}

body {
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
    background: radial-gradient(6.74% 4.11% at 13.33% 86.4%, rgb(39 45 51) 0%, rgba(77, 83, 92, 0) 100%), linear-gradient(112.71deg, #4D535C -7.06%, #171C21 50.9%, #121417 107.91%);
}


a {
    text-decoration: none;
    color: #f26419;
}

a:hover {
    text-decoration: underline;
}

#menu-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.menu {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
}

.container {
    display: flex;
    justify-content: center;
}

.container div {
    text-align: center;
}

.dias,
.horas,
.minutos,
.segundos {
    font-size: 4rem;
    margin-bottom: 0;
}

.formulario {
    text-align: center;
}

.formulario h1 {
    color: var(--color-background);
}

.div-img {
    display: flex;
    align-content: center;
}

.img-dev-mobile {
    width: 65%;
    margin-left: auto;
    margin-right: auto;
}

.img-dev-desktop {
   display: none;
}

.div-btn {
    display: flex;
    justify-content: center;
}

.btn-form {
    text-align: center;
    width: 300px;
    margin-top: 10px;
    font-size: 25px;
    border-radius: 25px;
    color: white;
    background-color: #f26419;
    padding-top: 10px;
    padding-bottom: 10px;
}

#section-three {
    text-align: center;
    margin-bottom: 50px;
}

#section-three h2, #section-four h2 {
    font-size: 2.5rem;
    color: #F26419;
}

.card-guests {
    background: linear-gradient(210.55deg, #353A40 -3.02%, #121416 93.08%);
    box-shadow: 36px 12px 36px rgba(2, 3, 3, 0.7), -12px -20px 56px rgba(232, 237, 243, 0.05), inset -16px -6px 80px rgba(248, 249, 249, 0.03);
    border-radius: 24px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}

.card-guests h3 {
    color: #ffffff;
    margin-top: -20px;
}

.guests{
    display: flex;
    justify-content: space-evenly;
}

.setas {
    width: 500px;
    height: 20px;
    border: solid 1px #ffffff;
    border-bottom: none;
}

small {
    color: #ffffff;
    margin-left: auto;
    margin-right: auto;
}

.side-card {
    display: none;
}

#section-four {
    padding: 50px;
    color: #f4f4f4;
}


@media (min-width: 992px) {
    .card-guests {
        text-align: center;
    }

    .boys {
        display: flex;
        text-align: center;
    }

    .side-card {
        display: block;
    }

    #section-content {
        display: flex;
        padding-left: 50px;
    }

    .dias,
    .horas,
    .minutos,
    .segundos {
    font-size: 5rem;
    margin-bottom: 0;
    }

    .img-dev-desktop {
        display: block;
        width: 75%;
        margin-left: auto;
        margin-right: auto;
    }

     .img-dev-mobile {
        display: none;
    }
}