@import url('https://fonts.googleapis.com/css2?family=Alata&family=Noto+Sans+JP:wght@400;500;700&display=swap');
:root {
    --color-background: #f4f4f4;
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
    background: radial-gradient(6.74% 4.11% at 13.33% 86.4%, rgb(39 45 51) 0%, rgba(77, 83, 92, 0) 100%), linear-gradient(112.71deg, #4D535C -7.06%, #171C21 50.9%, #121417 107.91%);
}


a {
    text-decoration: none;
    color: #f26419;
}

a:hover {
    text-decoration: underline;
}

#menu-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

#menu-content img {
    width: 130px;
    margin-top: 40px;
}

.menu {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
}

#section-content {
    display: flex;
    padding-left: 50px;
    align-items: center;
}

.container {
    width: 20%;
    display: flex;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.dias,
.horas,
.minutos,
.segundos {
    font-size: 50px;
    margin-bottom: 0;
}

.formulario h1 {
    color: var(--color-background); 
}

.img-dev {
    width: 100%;
}

input {
    width: 400px;
    height: 35px;
    margin-bottom: 10px;
    border-radius: 10px;
    background: linear-gradient(290deg, #2C333A -71.57%, #212327 59.28%, #242527 59.28%);
    box-shadow: inset -2px -2px 10px rgba(255, 255, 255, 0.05), inset 2px 3px 10px #070709;
    color: var(--color-background);
    outline: none;
    border-width: 1px;
    padding: 5px;
}

#section-three {
    text-align: center;
}

#section-three h2, #section-four h2 {
    font-size: 2.5rem;
    color: #F26419;
}

.card-guests {
    background: linear-gradient(210.55deg, #353A40 -3.02%, #121416 93.08%);
    box-shadow: 36px 12px 36px rgba(2, 3, 3, 0.7), -12px -20px 56px rgba(232, 237, 243, 0.05), inset -16px -6px 80px rgba(248, 249, 249, 0.03);
    border-radius: 24px;
    align-items: center;
    padding-left: 15px;
}

.card-guests h3 {
    color: #ffffff;
    margin-top: -20px;
    margin-left: -10px;
}

.guests{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

.setas {
    width: 500px;
    height: 20px;
    border: solid 1px #ffffff;
    border-bottom: none;
}

#section-four {
    padding: 50px;
    color: #f4f4f4;
}