@import url('https://fonts.googleapis.com/css2?family=Alata&family=Noto+Sans+JP:wght@400;500;700&display=swap');
:root {
    --color-background: #f4f4f4;
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

.container {
    width: 20%;
    display: flex;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.dias,
.horas,
.minutos,
.segundos {
    font-size: 50px;
    margin-bottom: 0;
}

a {
    text-decoration: none;
}